@charset "UTF-8";
@font-face {
    font-family: 'dream';
    src: url('../fontes/Daydream.ttf') format('opentype');
}
@font-face {
    font-family: 'ranker';
    src: url('../fontes/m20.TTF') format('opentype');
}
@font-face {
    font-family: 'classica';
    src: url('../fontes/Classica-Book.ttf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: white;
}

header {
    background-image: linear-gradient(to top, rgb(148, 148, 148), rgb(40, 40, 255));
}

body {
    background-color: rgb(148, 148, 148);
}

header div {
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    font-family: 'ranker';
}

.tec:hover, .dev:hover, .contato:hover {
    font-size: 25px;
    color: white;
    text-shadow: 0 0 5px #CCC;
}

header h1 {
    font-family: 'dream';
    text-align: center;
    padding-top: 15px; 
    padding-bottom: 10px; 
    font-size: 30px;  
    text-transform: uppercase;
    text-shadow: 0 2px 5px #afafaf94;
}

header p {
    font-family: 'ranker';
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
    text-shadow: 0 2px 5px #afafaf5d;
}

main {
    width: 400px;
    margin-top: 60px;
    margin-left: 480px;
}

main h1 {
    text-align: center;
    font-family: 'ranker';
    text-shadow: 0 0 5px #dfdfdfab;
    margin-bottom: 15px;
}

main p {
    margin-top: 20px;
    font-family: 'classica';
}

.insta {
    background-image: linear-gradient(to right, rgb(106, 14, 255), rgb(233, 78, 174), rgb(255, 123, 0), rgb(255, 208, 0));
    font-size: 23px;
    width: 150px;
    margin-left: 120px;
    padding: 3px;
    border-radius: 7px;
}

.git {
    background-image: linear-gradient(to right, white, rgb(70, 70, 70));
    font-size: 23px;
    width: 150px;
    margin-left: 120px;
    padding: 3px;
    border-radius: 7px;
}

.back {
    margin-top: 20px;
    margin-left: 653px;
}

@media(max-width: 430px) {
    header {
        width: 440px;
    }

    header h1 {
        font-size: 40px;
    }

    header p {
        font-size: 20px;
    }

    .tec, .dev, .contato {
        font-size: 16px;
    }

    main {
        margin-left: 20px;
    }

    .back {
        margin-left: 185px;
    }
}